[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.20.1"
pandas = "==1.2.3"
ccxt = "==1.43.89"
cryptography = "==3.4.6"
aiohttp = "==3.7.4.post0"
python-telegram-bot = "==13.4.1"
arrow = "==1.0.3"
cachetools = "==4.2.1"
requests = "==2.25.1"
urllib3 = "==1.26.4"
wrapt = "==1.12.1"
jsonschema = "==3.2.0"
tabulate = "==0.8.9"
pycoingecko = "==1.4.0"
tables = "==3.6.1"
blosc = "==1.10.2"
py-find-1st = "==1.1.5"
python-rapidjson = "==1.0"
sdnotify = "==0.3.2"
fastapi = "==0.63.0"
uvicorn = "==0.13.4"
aiofiles = "==0.6.0"
colorama = "==0.4.4"
questionary = "==1.9.0"
prompt-toolkit = "==3.0.17"
SQLAlchemy = "==1.4.2"
TA-Lib = {path = "./TA_Lib-0.4.19-cp37-cp37m-win_amd64.whl"}
Jinja2 = "==2.11.3"
PyJWT = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.7"
